body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#overview ul{
   list-style:none;
   font-size:17px
}
#overview ul li{
	width:350px;
   height:40px;
   border-bottom:1px solid gray;
}
#overview ul li p{
  padding: 10px 15px;
}      
#label1 {
	font-size:14px;
    width:100px;
}
#label2 {
font-size:18px;
}